section.pacific-about-3
	.container
		.row
			.col-12.desc
				h2 Mạng lưới cung cấp:
				p Chúng tôi có 2 văn phòng tại TP. Hồ Chí Minh và Hà Nội với hơn 70 nhân viên. Hệ thống đại lý bao phủ với hơn 20 cửa hàng trong nước, 2 đại lý tại Campuchia và 1 đại lý tại Lào
		.row.list-row
			.col-12
				h3 Danh sách mạng lưới cung cấp đại lý nha khoa:
			.col-12
				.branch-list
					-for (i=0;i<12;i++)
						.branch-item
							h4.city Tỉnh Thừa Thiên Huế
							p.shop-name Cửa hàng Nha khoa Tiến Thịnh
							p.address 44 Ngô Quyền, Thành phố Huế 
							p.phone Điện thoại: 054 3826 139
		.row.list-row
			.col-12
				h3 Danh sách mạng lưới cung cấp đại lý nha khoa:
			.col-12
				.branch-list
					-for (i=0;i<12;i++)
						.branch-item
							h4.city Tỉnh Thừa Thiên Huế
							p.shop-name Cửa hàng Nha khoa Tiến Thịnh
							p.address 44 Ngô Quyền, Thành phố Huế 
							p.phone Điện thoại: 054 3826 139
