section.pacific-home-1.pacific-product-1
	.container
		.row
			.col-12
				h3 Sản phẩm nổi bật
				.product-slider
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<12;i++)
								.swiper-slide
									.product-item
										.product-img
											img(src="./img/product/2.jpg", alt="")
										h3.title Carestream 8100 - Công nghệ chụp sọ mặt tiên tiến
										span.price 1.505.000đ
										a(href="!#").btn-addcart
											span.shopping-cart
											| Mua ngay
					.swiper-prev
						span.lnr-chevron-left
					.swiper-next
						span.lnr-chevron-right