section.pacific-home-2
	.container
		.row
			.col-12
				h1 Chuyên ngành
		.row
			.col-lg-6
				.hot-news
					figure
						.imgbox
							img(src="./img/info/1.jpg", alt="")
						figcaption
							h2 Bệnh viêm nha chu là gì? Cách đề phòng viêm nha chu?
			.col-lg-6
				.side-news
					.news-item
						figure
							.imgbox
								img(src="./img/info/2.jpg", alt="")
							figcaption
								h2 Chăm sóc răng như thế nào là đúng cách
								p Chăm sóc SKRM cũng như việc điều trị bệnh răng miệng phải nhằm bảo đảm ba yêu cầu: chức năng, thẩm mỹ, dự phòng. Ba yêu cầu này phải hài hòa và bổ sung cho nhau, nhưng yêu cầu chức năng là quan trọng nhất. Không nên vì muốn chỉnh hình vị trí một răng đẹp, trám thẩm mỹ một răng đẹp mà quên đi khớp cắn hai hàm, tình trạng mô nha chu,... mà làm mất chức năng của răng.
					.news-item
						figure
							.imgbox
								img(src="./img/info/3.jpg", alt="")
							figcaption
								h2 Một số điều bạn cần biết về tẩy trắng răng
								p Tác dụng tẩy trắng răng để làm đẹp được phát hiện rất tình cờ. Trước đây, các nha sĩ cố gắng điều trị bệnh nướu cho bệnh nhân bằng nước súc miệng có chứa hi-đrô pe-rô-xít (hydrogen peroxide) hay còn gọi là ô-xi già và họ nhận thấy sau một thời gian dùng nước xúc miệng này, răng bệnh nhân trở nên trắng hơn.