section.pacific-news-detail
	.container
		.row
			.col-lg-9
				.news-content
					h1.title Sự kiện One - visit cerec dentistry
					time 08/10/2018
					.fullcontent
						p Một khóa học là một loạt các bài giảng được thiết kế để đào tạo cho sinh viên về một vấn đề nhất định. Một số khóa học rất ngắn và cơ bản, trong khi một số khác lại dài và rất toàn diện. Một số khóa học là một chương trình đào tạo đầy đủ. Khóa học về nha khoa là gì? Nha khoa là một chuyên ngành của y khoa về chăm sóc sức khỏe răng miệng. Những người làm việc trong lĩnh vực nha khoa điều trị các tổn hại và nhiễm trùng răng, nướu, và xương hàm. Để làm được điều này, họ cần phải hiểu về cấu trúc và chức năng của tất cả các bộ phận trong miệng. Một số quá trình điều trị nha khoa phổ biến bao gồm làm đầy lỗ sâu răng, thay thế niềng răng, và chữa trị tủy răng. Sức khỏe răng miệng là một vấn đề quan trọng đối với sức khỏe của toàn bộ cơ thể, chính vì thế sinh viên nha khoa thường được yêu cầu theo học các khóa học về giải phẫu và sinh lý học, sinh học, hóa học, và nhiều khóa học về kĩ thuật nha khoa.
						img(src="./img/info/ct-1.jpg", alt="")
						p Nhu cầu tuyển dụng các chuyên gia về nha khoa có xu hướng tăng lên trong một vài năm tới. Kĩ thuật nha khoa đang ngày càng tốt lên, nhờ đó chăm sóc răng miệng được cung cấp cho nhiều người hơn. Hơn nữa, khi dân số thế giới ngày càng già đi, nhu cầu chăm sóc răng miệng cho người già sẽ ngày càng tăng.
						p Chi phí để theo học khóa học về nha khoa khác nhau tùy thuộc vào cơ sở đào tạo khóa học và đất nước của cơ sở đào tạo đó. Nếu quan tâm tới bất kì trường học nào, bạn nên liên lạc trực tiếp để có thêm thông tin về chi phí.
						p Nha sĩ có mức lương khá cao, thời gian làm việc thoải mái, và sự hài lòng trong công việc chăm sóc răng miệng sau khi giúp đỡ mọi người duy trì sức khỏe và sự tự tin của mình. Ở một số nơi trên thế giới, việc phẫu thuật thẩm mỹ như làm trắng răng là phổ biến và đem lại nhiều lợi ích cho nha sĩ. Một số nha sĩ khác lại có thể tập trung vào việc chẩn đoán và điều trị các chứng bệnh về răng miệng. Một số nha sĩ khác thậm chí trở thành những người chăm sóc sức khỏe cộng đồng nhằm nâng cao ý thức của người dân về việc làm sạch răng miệng.
						p Nhờ vào sự ra đời của đào tạo trực tuyến, bạn không cần phải bỏ việc hoặc đi sang nước khác để theo đuổi việc học tập. Bạn có thể bắt đầu ngay hôm nay, từ chính trong ngôi nhà của bạn. Hãy tìm kiếm chương trình học phù hợp cho bạn trong danh sách dưới đây và liên lạc trực tiếp với văn phòng tuyển sinh ở các trường đại học mà bạn quan tâm bằng cách điền vào mẫu yêu cầu.
					.social-sharing
						.fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
			.col-md-7.col-lg-3
				h2 Tin tức khác
				.other-news
					-for(i=0;i<5;i++)
						.item
							figure
								.imgbox
									img(src="./img/info/ct-2.jpg", alt="alt")
								figcaption
									h3 Sự kiện One - visit cerec dentistry
									time 08/10/2018

