section.pacific-about-2(bg-img="./img/about/bg.jpg")
	.container
		.row
			.col-lg-4.item
				h3 Tầm nhìn
				img(src="./img/about/s-2-1.png", alt="")
				p Công ty chúng tôi luôn phấn đấu để dẫn đầu trong việc cung ứng dịch vụ nha khoa và các giải pháp sáng tạo cho khách hàng. Mục tiêu phấn đấu của chúng tôi là được công nhận như là nhà cung cấp hàng đầu về dịch vụ, hỗ trợ kỹ thuật và sự chuyên nghiệp.
			.col-lg-4.item
				h3 Sứ mệnh
				img(src="./img/about/s-2-2.png", alt="")
				p Để đảm bảo sự phát triển bền vững, chúng tôi luôn trân trọng và gìn giữ nguồn nhân lực có chất lượng cao.
			.col-lg-4.item
				h3 giá trị cốt lõi
				img(src="./img/about/s-2-3.png", alt="")
				p Giá trị cốt lõi trong kinh doanh của chúng tôi là mang đến những lợi ích tốt nhất cho các khách hàng trong ngành nha.
