.pacific-about-5
	.container
		.row
			.col-12
				h2 Đối tác của chúng tôi
		.row
			.col-12.part-wrapper
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.partner-item
								img(src="./img/about/p-1.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-2.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-3.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-4.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-2.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-3.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-4.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-1.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-2.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-4.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-1.png", alt="")
						.swiper-slide
							.partner-item
								img(src="./img/about/p-2.png", alt="")
				.swiper-prev
					span.lnr-chevron-left
				.swiper-next
					span.lnr-chevron-right