footer.pacific-footer-1
    section.pacific-footer-top(bg-img="./img/bg_1.jpg")
        .container
            .newsletter-wrapper
                .text
                    h2 Đăng ký nhận bản tin
                    p Đăng ký email để nhận khuyến mãi, thông tin mới nhất từ Nha khoa Thái Bình Dương
                .subscribefrm
                    input(type="text",placeholder="Điền thông tin email").subscribeemail
                    button.subscribebutton Gửi
    section.pacific-footer-bottom(bg-img="./img/bg_2.jpg")
        .container
            .row
                .info-wrapper
                    .info
                        h2 Văn Phòng tại TP. HCM
                        ul
                            li 22-24 Nguyễn Văn Thủ, P. Đa Kao, Q1, TP. Hồ Chí Minh
                            li Tel: 028 3911 2170 -  Fax: 028 3911 2171
                    .info
                        h2 Văn Phòng tại Hà Nội
                        ul
                            li 32 Trần Kim Xuyến, P. Yên Hòa, Quận Cầu Giấy, Hà Nội
                            li Tel: 024 3773 3138
                            li Fax: 024 6282 2441
                .link-product
                    h2 Sản phẩm
                    ul.nav
                        li.nav-item
                            a(href="javascript:void(0)") Nha khoa tổng quát
                        li.nav-item
                            a(href="javascript:void(0)") Labo
                        li.nav-item
                            a(href="javascript:void(0)") Chỉnh hình
                        li.nav-item
                            a(href="javascript:void(0)") Implant
                        li.nav-item
                            a(href="javascript:void(0)") Thiết bị
                        li.nav-item
                            a(href="javascript:void(0)") Download tài liệu sản phẩm
                .link-support
                    h2 Hỗ trợ khách hàng
                    ul.nav
                        li.nav-item
                            a(href="javascript:void(0)") Phương thức đặt hàng
                        li.nav-item
                            a(href="javascript:void(0)") Hướng dẫn đặt hàng
                        li.nav-item
                            a(href="javascript:void(0)") Phương thức giao hàng
                        li.nav-item
                            a(href="javascript:void(0)") Phương thức thanh toán
                        li.nav-item
                            a(href="javascript:void(0)") Chính sách đổi trả hàng
                        li.nav-item
                            a(href="javascript:void(0)") Trung tâm khách hàng
                        li.nav-item
                            a(href="javascript:void(0)") Hỏi đáp
                .link-others
                    h2 Liên kết nhanh
                    ul.nav
                        li.nav-item
                            a(href="javascript:void(0)") Videos clip
                        li.nav-item
                            a(href="javascript:void(0)") Kiểm tra thẻ bảo hành
                        li.nav-item
                            a(href="javascript:void(0)") Thông tin nha khoa
                        li.nav-item
                            a(href="javascript:void(0)") Sự kiện khóa học
                        li.nav-item
                            a(href="javascript:void(0)") Khuyến mãi
                .info-wrapper
                    .info
                        h2 Chứng nhận
                        img(src="./img/icon_1.png", alt="")
                    .info
                        h2 Theo dõi chúng tôi
                        ul.nav.social-link
                            li.nav-item
                                a(href="javascript:void(0)").fab.fa-facebook-f
                            li.nav-item
                                a(href="javascript:void(0)").fab.fa-google-plus-g
                            li.nav-item
                                a(href="javascript:void(0)").fab.fa-youtube
            .row
                .col
                    .policy-copyright
                        .copyright
                            p Copyright © 2018 Pacific. All right reserved.
                        .policy
                            ul
                                li
                                    a(href="javascript:void(0)") Điều khoản sử dụng
                                li
                                    a(href="javascript:void(0)") Chính sách bảo mật