section.solution-list
	article
		.container
			.row
				.col-lg-3
					.solution-navigation
						h3 Giải pháp
						ul
							li
								a(href="javascript:void(0)") Kỹ thuật máy tính
							li
								a(href="javascript:void(0)") Thi công hệ thống CNTT
							li.active
								a(href="javascript:void(0)") Triển khai giải pháp CNTT
							li
								a(href="javascript:void(0)") Thiết bị và phần mềm
							li
								a(href="javascript:void(0)") Bộ giải pháp camera giám sát
							li
								a(href="javascript:void(0)") Bộ giải pháp tường lứa
				.col-lg-9
					.solution-content
						h5 Lorem ipsum dolor sit amet
						.fullcontent
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolor voluptatibus ab cum, magnam vel quis quasi quod voluptate, quo dolorum possimus consectetur vitae amet consequuntur rem sed! Eveniet, in!

