section.pacific-course-1
	article
		.container
			.row
				.col-12
					h2 Sự kiện khóa học
			.row
				.col-lg-6
					.hot-news
						figure
							.news-img
								img(src="./img/events/1.jpg", alt="alt")
							figcaption 
								h3 Sự kiện One - visit cerec dentistry
								p Diễn ra từ ngày 15/11/2018 đến 31/12/2018
								a(href="javascript:void(0)").btn-view Xem thêm
				.col-lg-6
					.part-news
						figure
							.news-img
								img(src="./img/events/2.jpg", alt="alt").class
							figcaption
								h3 Sự kiện One - visit cerec dentistry
								p Diễn ra từ ngày 15/11/2018 đến 31/12/2018
								a(href="javascript:void(0)").btn-view Xem thêm
						figure
							.news-img
								img(src="./img/events/2.jpg", alt="alt").class
							figcaption
								h3 Sự kiện One - visit cerec dentistry
								p Diễn ra từ ngày 15/11/2018 đến 31/12/2018
								a(href="javascript:void(0)").btn-view Xem thêm
			.row.other-news
				- for(i=0;i<4;i++)
					.col-md-6.col-lg-3
						figure
							.news-img
								img(src="./img/events/3.jpg", alt="alt").class
							figcaption
								h3 Sự kiện One - visit cerec dentistry
								p Diễn ra từ ngày 15/11/2018 đến 31/12/2018
								a(href="javascript:void(0)").btn-view Xem thêm
