section.pacific-course-2
	article
		.container
			.row
				.col-12
					.wrap-form
						#form
							.form-group
								input(type="text",placeholder="Họ và tên")
							.form-group
								input(type="text",placeholder="Số điện thoại")
							.form-group
								input(type="text",placeholder="Email")
							.form-group
								select
									option(value="Lorem 1") Lorem 1
									option(value="Lorem 1") Lorem 1
									option(value="Lorem 1") Lorem 1
							.form-group
								input(type="checkbox", id="check") 
								label(for="check") Bằng cách nhấn gửi đăng ký, tôi đồng ý với chính sách bảo mật.
							.form-group.frm-btnwrap
								.frm-btn
									input(type="submit", value="Đăng ký thông tin")