section.pacific-warranty-1
    article
        .container
            .row
                .col
                    h2 Kiểm tra thẻ bảo hành
            .row
                .col
                    .card-list.swiper-container
                        .swiper-wrapper
                            .item.swiper-slide
                                img(src="./img/card/1.png", alt="")
                                a(href="javascript:void(0)").btn-check Kiểm tra thẻ Zolid 10Y
                            .item.swiper-slide
                                img(src="./img/card/2.png", alt="")
                                a(href="javascript:void(0)").btn-check Kiểm tra thẻ Zolid 10Y
                            .item.swiper-slide
                                img(src="./img/card/3.png", alt="")
                                a(href="javascript:void(0)").btn-check Kiểm tra thẻ Zolid 10Y
                            .item.swiper-slide
                                img(src="./img/card/1.png", alt="")
                                a(href="javascript:void(0)").btn-check Kiểm tra thẻ Zolid 10Y
                    span.prev-card
                        em.lnr-chevron-left
                    span.next-card
                        em.lnr-chevron-right