.pacific-about-4
	.container-fluid
		.row
			.col-12.desc
				h2 Lĩnh vực hoạt động:
				p Cung cấp vật liệu, thiết bị cho nha sĩ ở các phòng nha tư nhân, trung tâm chăm sóc răng miệng và các labo làm phục hình răng giả. Bên cạnh đó chúng tôi tự hào là nhà cung cấp hàng đầu các thiết bị và vật liệu chất lượng cao cho các Bệnh viện Răng Hàm Mặt trên toàn quốc. Công ty TNHH Nha Khoa Thái Bình Dương luôn đi tiên phong trong việc cung cấp những sản phẩm chất lượng cao, giá cả cạnh tranh, nhằm đạt được sự hài lòng cho khách hàng trên thị trường, bằng việc đáp ứng một cách hiệu quả và thảo mãn nhu cầu khách hàng trong chuyên ngành nha khoa. Công ty luôn cải tiến về chất lượng cũng như dịch vụ để mang lại những lợi ích tốt nhất cho Bác sĩ và bệnh nhân.
			.col-12
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.imgbox
								img(src="img/about/2.jpg", alt="")
						.swiper-slide
							.imgbox
								img(src="img/about/3.jpg", alt="")
						.swiper-slide
							.imgbox
								img(src="img/about/4.jpg", alt="")
						.swiper-slide
							.imgbox
								img(src="img/about/2.jpg", alt="")
						.swiper-slide
							.imgbox
								img(src="img/about/3.jpg", alt="")
						.swiper-slide
							.imgbox
								img(src="img/about/4.jpg", alt="")
					.swiper-prev
						span.mdi-chevron-left
					.swiper-next
						span.mdi-chevron-right
