section.pacific-warranty-2
    article
        .container
            .row
                .col-12
                    h2 KIỂM TRA THẺ XUẤT XỨ Realloy C
            .row
                .col-12
                    .card-details
                        .card-img
                            img(src="./img/card/1.png", alt="")
                        .check-form
                            input(type="text", placeholder="Mã thẻ xuất xứ...")
                            a(href="javascript:void(0)").btn-check
                    .card-result
                        .card-title
                            h2 THẺ bảo hành Realloy C
                            .card-close
                                span.lnr-cross
                        .card-img
                            img(src="./img/card/4a.png", alt="")
                            span#cardName PHUONG
                            span#cardCode R00003
                            span#cardClinic HOANG HANH
                            span#cardValidto
                            span#cardDateOfIssue 20-05-2024
                            span#cardLab PHONG VU
                            span#cardTopLeft 1
                            span#cardTopRight 1
                            span#cardBottomLeft 1
                            span#cardBottomRight 1
                            span#cardNotFound(style='')

