header.pacific-header-1
	.container
		.mobile-top-nav
		.header-wrapper
			.logo-wrapper
				img(src="img/logo.png", alt="")
			.main-nav
				.top-nav
					.searchbox
						input(type="text" placeholder="Tìm kiếm").searchinput
						button.searchbutton
							em.fas.fa-search
					.hotline
						em.fas.fa-phone-volume
						a(href="tel:02839112170") 028 3911 2170
					.tool-box
						.facebook
							a(href="javascript:void(0)").fab.fa-facebook-f
						.cart
							.cart-toggle
								.icon
									span.fas.fa-shopping-cart
						.login
							a(href="javascript:void(0)")
								i.fas.fa-user
				.menu
					ul
						li
							a(href="javascript:void(0)") Giới thiệu
						li.dropdown
							a(href="javascript:void(0)") Sản phẩm
							ul.dropdown-menu
								li
									a(href="javascript:void(0)") Nha khoa tổng quát
								li
									a(href="javascript:void(0)") Labo
								li
									a(href="javascript:void(0)") Chỉnh hình
								li
									a(href="javascript:void(0)") Thiết bị
								li
									a(href="javascript:void(0)") Download tài liệu sản phẩm
						li
							a(href="javascript:void(0)") Kiểm tra thẻ bảo hành
						li
							a(href="javascript:void(0)") Thông tin nha khoa
						li
							a(href="javascript:void(0)") Sự kiện khóa học
						li
							a(href="javascript:void(0)") Giải pháp
						li
							a(href="javascript:void(0)") Khuyến mãi
						li
							a(href="javascript:void(0)") Liên hệ
					.hotline-mobile
			.menu-toggle
				span.fas.fa-bars
	.overlay