section.pacific-about-1
	.container
		.row
			.col-lg-6
				h1 Công ty TNHH Nha Khoa Thái Bình Dương
				p Với hơn 12 năm kinh nghiệm về kinh doanh sản xuất nha khoa. Chúng tôi là công ty uy tín nhất trong lĩnh vực nha khoa trên thị trường Việt Nam và là nhà phân phối các sản phẩm ủy quyền của các nhà sản xuất nha khoa có chất lượng hàng đầu thế giới.
				.icon-list
					.icon
						img(src="./img/about/s-1-2.png", alt="")
						span Hơn 12 năm kinh nghiệm
					.icon
						img(src="./img/about/s-1-1.png", alt="")
						span Uy tín 
					.icon
						img(src="./img/about/s-1-3.png", alt="")
						span Chất lượng hàng đầu thế giới
			.col-lg-6
				.imgbox
					img(src="./img/about/1.jpg", alt="")