section.pacific-course-1.pacific-home-3
	article
		.container
			.row
				.col-lg-6
					h2 Sự kiện khóa học
					.part-news
						figure
							.news-img
								img(src="./img/events/2.jpg", alt="alt").class
							figcaption
								h3 Sự kiện One - visit cerec dentistry
								p Diễn ra từ ngày 15/11/2018 đến 31/12/2018
								a(href="javascript:void(0)").btn-view Xem thêm
						figure
							.news-img
								img(src="./img/events/2.jpg", alt="alt").class
							figcaption
								h3 Sự kiện One - visit cerec dentistry
								p Diễn ra từ ngày 15/11/2018 đến 31/12/2018
								a(href="javascript:void(0)").btn-view Xem thêm
				.col-lg-6
					h2 Video clips
					.video-list
						.row
							.col-12
								a(href="https://www.youtube.com/watch?v=mUeZDu9rBH8" data-fancybox).video-item
									img(src="./img/video/1.jpg", alt="")
						.row
							.col-sm-4
								a(href="https://www.youtube.com/watch?v=mUeZDu9rBH8" data-fancybox).video-item
									img(src="./img/video/1.jpg", alt="")
							.col-sm-4
								a(href="https://www.youtube.com/watch?v=mUeZDu9rBH8" data-fancybox).video-item
									img(src="./img/video/1.jpg", alt="")
							.col-sm-4
								a(href="https://www.youtube.com/watch?v=mUeZDu9rBH8" data-fancybox).video-item
									img(src="./img/video/1.jpg", alt="")